@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.btn{
  @apply px-6 py-2 bg-primary text-white rounded-3xl hover:opacity-75;
}


